---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: armeria-sandbox-frontend
spec:
  template:
    metadata:
      labels:
        app: armeria-sandbox-frontend
    spec:
      containers:
        - name: armeria-sandbox-frontend
          resources:
            limits:
              memory: "1Gi"
              cpu: "1"
