---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zipkin
  labels:
    app: zipkin
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9411"
        prometheus.io/path: /prometheus
    spec:
      containers:
      - name: zipkin
        image: openzipkin/zipkin:2.16
        ports:
        - containerPort: 9411
        resources:
          requests:
            memory: "1Gi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"

---
kind: Service
apiVersion: v1
metadata:
  name: zipkin
  namespace: infra
spec:
  type: NodePort
  selector:
    app: zipkin
  ports:
  - protocol: TCP
    targetPort: 9411
    port: 9411
    nodePort: 30001
