---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: armeria-sandbox-backend1
spec:
  template:
    metadata:
      labels:
        app armeria-sandbox-backend1
    spec:
      containers:
      - name: armeria-sandbox-backend1
        resources:
          limits:
            memory: "1Gi"
            cpu: "1"
